        <header class="p-3 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/home" class="nav-link px-2 text-white">Home</a></li>
                  <li><a href="/info" class="nav-link px-2 text-white">Purchasing Information</a></li>
                  <li><a href="/info/create" class="nav-link px-2 text-white">Add Suppliers</a></li>
                  <li><a href="/categories" class="nav-link px-2 text-white">Fabric Categories</a></li>
                  <li><a href="/report" class="nav-link px-2 text-white">Full Report</a></li>
                </ul>
        
                <!--
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                  <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>
                -->
        
                <div class="text-end">
                  Welcome back, Admin!
                  <button type="button" class="btn btn-warning" onclick="window.location.href='/logout'">Logout</button>
                </div>
              </div>
            </div>
        </header>