<div style="display: flex; justify-content: center; align-items: center;">
    <h1 style="font-size: 100px; color: red;"> ACCESS DENIED! </h1>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <h1>Please go to <a href="/login">Login Page</a> to continue.</h1>
</div>