        {{#if styles}}
            {{#each styles}}
                <link rel="stylesheet" href="{{this}}">
            {{/each}}
        {{/if}}

<div class="home">
    <div class="mt-4">
        <h1>Welcome to Fabric Agency Database</h1>
        <h2>Made by Group 5 - CC01</h2>
    </div>
</div>